{% extends 'base.twig' %}
{% block title %}Checkout{% endblock %}
{% block body %}
    {% if error %}
        <h2>{{ error }}</h2>
    {% else %}
        <h2>Success!</h2>
    {% endif %}
    <a href="/">Return to homepage!</a>
{% endblock %}