{% extends "base.twig" %}

{% block title %}Home{% endblock %}
{% set this_page = '/' %}
{% block body %}

    <h1>Welcome</h1>
    <p>Hello {{ session.username?session.username:'Guest' }}!</p>

{% endblock %}
