{# Only admin can do this #}
{% extends 'base.twig' %}

{% block title %}Add item to inventory{% endblock %}
{% set this_page = '/admin/items/add' %}
{% block body %}
    {{ message?'<h2>'~message~'</h2>'|raw:'' }}
    <div class="container" style="text-align: left">
        <div class="row">
            <div class="col-md-12">
                <form action="/admin/items/add" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Item name</label>
                        <input required type="text" class="form-control" id="name" name="name"
                               placeholder="Enter item name">
                    </div>
                    <div class="form-group">
                        <label for="description">Item description</label>
                        <textarea required class="form-control" id="description" name="description"
                                  placeholder="Describe the item." rows="5" cols="50"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="available_quantity">In stock:</label>
                        <input required type="number" min="0" step="1" pattern="\d+" class="form-control"
                               id="available_quantity" name="available_quantity" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label for="price">Item base price (VND):</label>
                        <input required type="number" min="0" step="1" pattern="\d+" class="form-control" id="price"
                               name="price" placeholder="1000">
                    </div>
                    <div class="form-group">
                        <label for="image">Item image:</label>
                        <input required type="file" id="image" name="image" aria-describedby="imageHelp"
                               class="form-control {{ error?'is-invalid':'' }}">
                        <small id="imageHelp" class="form-text text-muted">{{ error?error:'' }}</small>
                    </div>
                    <div class="form-group" style="text-align: center">
                        <button type="submit" value="Submit" name='submit' class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}